<link rel="stylesheet" href="../../../vendor/css/ioinc.min.css"/>
<style>
    * {
        margin: 0;
        padding: 0;
        border: 0;
    }
    .title-color {
        color: #3ca2dd;
    }
    .bar-light-div {
        background-size: 0px;
        border-bottom: 1px solid #1296db;
    }
    .container-fluid {
        padding: 0 0;
        margin: 0 0;
    }
    .text_inline {
        display: inline-block;
    }
    a:link, a:visited, a:hover {
        color: #1296db;
        text-decoration: none;
    }
    body{
        background-color: #f7f8f8;
    }
    .title-a{
        padding-top: 80px;
        text-align: center;
        min-height: 100%;
        width: 100%;
    }
    .txt-width{
        width: 30%;
        text-align: center;

    }
    .text-second-a{
        font-size: 22px;
        color: #4a4a4a;
        text-shadow:3px 3px 5px orange,-3px 3px 5px green;
    }
    .text-second-b{
        margin-top: 0.5rem;
        font-size: 22px;
    }
    .content-b-num{
        margin-top: 0.5rem;
        font-size: 22px;

    }
    .content-b{
        width: 100%;
        color:white;
        margin-top: 0.5rem;
        text-align: center;
        overflow: hidden;
        padding-bottom: 1rem;
        
    }
    .content-b-a{
        width:26%;
        height: 3.6rem;
        background-color: #aaaaaa;
        text-align: center;
        display: inline-block;
        margin-left: 0.15rem;
        margin-right: 0.15rem;
        vertical-align: middle;
        padding-top: 1.0rem;
        margin-top: 0.3rem;
        border:1px solid #333333;
        box-shadow: 10px 10px 5px #888888;
    }
    .content-b-num{
        color:white;
        text-shadow:3px 3px 5px #f56253,-3px 3px 5px green;
    }
    .content-b-txt{
        font-size: 18px;
        text-shadow:3px 3px 5px #f56253,-3px 3px 5px green;
    }

    .showCard-height{
        height: 0.8rem;
        font-size: 1.3em;
    }
    .bar-light-div{
        font-size: 1.2em;
    }
    input[type=text]{
        font-size: 1.3em;
    }
    input[type=number]{
        font-size: 1.3em;
    }
    .home_tab_div_left{
        font-size:1.0em;
    }
    .home_tab_div_right{
        font-size:1.0em;
    }
    button{
        font-size:1.0em;
    }
    .title-color{
        font-size: 1.0em;
    }
    .input-group{
        height: 1rem;
        font-size:1.0em;
    }
    .tabs{
        height: 1.4rem;
        font-size: 1.3em;
    }
</style>

<div>
    <div class="bar bar-header bar-light bar-light-div">
         <!--<button class="button-clear"><img src="../../../vendor/images/zsx/back_blue.png"></button>-->
        <h1 class="title"><span class="title-color">整厂概况</span></h1>
    </div>

    <div class="title-a">
        <div class="text_inline txt-width">
            <div class="text-second-a">今日进厂</div>
            <div class="text-second-b">{{zcData.incoming_today}}</div>
        </div>
        <div class="text_inline txt-width">
            <div class="text-second-a">在场车辆</div>
            <div class="text-second-b">{{zcData.in_garage}}</div>
        </div>
        <div class="text_inline txt-width">
            <div class="text-second-a">今日出厂</div>
            <div class="text-second-b">{{zcData.out_today}}</div>
        </div>

    </div>


    <div class="content-b">
        <div class="content-b-a" ng-click="toFactoryDetail('估价中')">
            <div class="content-b-txt">估价中</div>
            <div class="content-b-num">{{zcData.gujia}}</div>
        </div>
        <div class="content-b-a" ng-click="toFactoryDetail('待派工')">
            <div class="content-b-txt">待派工</div>
            <div class="content-b-num">{{zcData.daipaigong}}</div>
        </div>

        <div class="content-b-a" ng-click="toFactoryDetail('待领工')">
            <div class="content-b-txt">待领工</div>
            <div class="content-b-num">{{zcData.dailinggong}}</div>
        </div>


        <div class="content-b-a" ng-click="toFactoryDetail('修理中')">
            <div class="content-b-txt">修理中</div>
            <div class="content-b-num">{{zcData.repairing}}</div>
        </div>
        <div class="content-b-a" ng-click="toFactoryDetail('待质检')">
            <div class="content-b-txt">待质检</div>
            <div class="content-b-num">{{zcData.daishenhe}}</div>
        </div>

        <div class="content-b-a" ng-click="toFactoryDetail('待结算')">
            <div class="content-b-txt">待结算</div>
            <div class="content-b-num">{{zcData.daijiesuan}}</div>
        </div>

        <div class="content-b-a" ng-click="toFactoryDetail('待出厂')">
            <div class="content-b-txt">待出厂</div>
            <div class="content-b-num">{{zcData.daichuchang}}</div>
        </div>
    </div>

    <div id="tab_nav" class="tabs-line  bar  bar-footer" style="border-top: 1px solid #1296db;height: 1.9rem;padding-bottom: 0.1rem;">
        <a class="tab-item" ui-sref="home">
                <img style="width: 0.7rem;height: 0.7rem;margin-top: 0.03rem;"
                     src="../../../vendor/images/zsx/recever_hand_gray.png"/>

                <div style="color: #515151;height: 0.6rem;font-size:1.0em;margin-top: 1px;">车辆接待</div>
        </a>
        <a class="tab-item" ui-sref="FactoryPage">
            <img style="width: 0.7rem;height: 0.7rem;margin-top: 0.03rem;" src="../../../vendor/images/zsx/factory_gray.png"/>

            <div style="color: #515151;height: 0.6rem;font-size:1.0em;margin-top: 1px;">车间管理</div>

        </a>
        <a class="tab-item" ui-sref="CompanyTop">
            <img style="width: 0.7rem;height: 0.7rem;margin-top: 0.03rem;" src="../../../vendor/images/zsx/condition_blue.png"/>

            <div style="height: 0.6rem;font-size:1.0em;margin-top: 1px;">整厂概况</div>

        </a>
        <a class="tab-item" ui-sref="Usercenter">
            <img style="width: 0.7rem;height: 0.7rem;margin-top: 0.03rem;" src="../../../vendor/images/zsx/msg_gray.png"/>

            <div style="color: #515151; height: 0.6rem;font-size:1.0em;margin-top: 1px;">信息中心</div>

        </a>

        <a class="tab-item" ui-sref="workmore">
            <img style="width: 0.7rem;height: 0.7rem;margin-top: 0.03rem;" src="../../../vendor/images/zsx/setting_gray.png"/>

            <div style="color: #515151;height: 0.6rem;font-size:1.0em;margin-top: 1px;">设置</div>

        </a>
    </div>


</div>

<script>
    function isIos(){
        var u = navigator.userAgent;
        var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
        return isiOS;
    }
    if(!isIos()) {
        iosInput();
    }
</script>
