<style type="text/css">
    .my_text{
        width:200px;
        height:25px;
        margin-left: 50px;
        font-size: 14px;
        color: #0f0f0f;
    }
    .photo-edit{
        height: 92px;
        padding-top: 20px;
        margin-left: 20px;
        width: 86px;
        cursor: pointer;
    }
    .bdd_perso_left_a{
        width: 110px;
        height: 110px;
        margin-top: 20px;
        border-radius:110px
    }
    .img_center{
        border-radius:110px;
        height: 110px;
        width:110px
    }
</style>
<div class="bdd_vitality_right_header">
    <div class="bdd_vitality_right_hrader_li bdd_vita_right" ng-click="ctrl.userDetail()">账户信息
        <div class="bdd_vita_span_a"></div>
    </div>
    <div class="bdd_vitality_right_hrader_li bdd_vita_top">社交账户授权</div>
    <div class="bdd_vitality_hr"></div>
</div>
<div class="bdd_vitality_conter">
    <div class="bdd_perso_left_a bdd_perso_news" ><img src="{{ctrl.user.imgurl}}" class="img_center"/>   <label class="photo-edit">
        <input name="file" type="file" ng-hide="true" onchange="angular.element(this).scope().upload()">
        <p>设置头像</p>
    </label> </div>

</div>
<div class="bdd_vita_footer">
    <div class="bdd_vita_footer_title">昵&nbsp;&nbsp;&nbsp;称
        <span style="color:#4d3a3a;font-size: 16px;padding-left: 50px; " ng-show="ctrl.name_hide">{{ctrl.user.nickname === null || ctrl.user.nickname === '' ? "请完善": ctrl.user.nickname}}</span>
        <span style="font-size: 14px;color: #cea63f;padding-left: 30px;cursor:pointer" ng-click="ctrl.toggle()" ng-show="ctrl.name_hide">修改</span>
        <input  class="my_text" type="text" ng-show="ctrl.visible"ng-model="ctrl.user.nickname" placeholder="请输入昵称"/>
        <span style="font-size: 14px;color: #cea63f;padding-left: 30px;cursor:pointer" ng-show="ctrl.visible" ng-click="ctrl.submit(1)">完成</span>
    </div>
    <div class="bdd_vita_footer_title">手机号
        <span style="color:#4d3a3a;font-size: 16px;padding-left: 50px; ">{{ctrl.user.userphone}}</span>
        <!--<span style="font-size: 14px;color: #cea63f;padding-left: 30px;cursor:pointer"">修改</span>-->
    </div>
    <!--<div class="bdd_vita_footer_title">邮&nbsp;&nbsp;&nbsp;箱<span style="color:#e84842;font-size: 14px;padding-left: 50px; ">去绑定</span></div>-->
    <div class="bdd_vita_footer_title">邮&nbsp;&nbsp;&nbsp;箱
        <span style="color:#4d3a3a;font-size: 16px;padding-left: 50px; " ng-show="ctrl.email_hide">{{ctrl.user.mailbox === null || ctrl.user.mailbox === '' ? '请完善': ctrl.user.mailbox}}</span>
        <span style="color:#cea63f;font-size: 14px;padding-left: 50px; cursor:pointer" ng-show="ctrl.email_hide" ng-click="ctrl.toggle_email()">修改</span>
        <input  class="my_text" type="text" ng-show="ctrl.email_visible"ng-model="ctrl.user.mailbox"  placeholder="请输入邮箱" />
        <span style="font-size: 14px;color: #cea63f;padding-left: 30px; cursor:pointer" ng-show="ctrl.email_visible" ng-click="ctrl.submit(2)">完成</span>
    </div>

    <div class="bdd_vita_footer_title">密&nbsp;码
        <span style="font-size: 14px;color: #cea63f;padding-left: 60px;cursor:pointer"><a ui-sref="Modify">修改密码</a></span>
    </div>

    <!--<div class="bdd_vita_footer_title_aido">-->
        <!--<div class="bdd_vita_footer_title_text" ng-click = "ctrl.submit()">保存</div>-->
    <!--</div>-->
</div>