<link rel="stylesheet" href="../../../vendor/css/ioinc.min.css"/>
<style>

    .bar-light-div {
        background-size: 0px;
        border-bottom: 1px solid #1296db;
        display: block;
    }
    .title-color {
        color: #3ca2dd;
    }
    .bar_second_pink{
        width: 100%;
        margin-top: 44px;
        height: 1rem;
        background-color: #aa89bd;
        vertical-align: middle;
        line-height: 1rem;
    }
    .container-fluid{
        padding: 0 0;
        margin: 0 0;
    }
    .color-white{
        color: white;
        display: inline-block;
        margin-top: 0.3rem;
        margin-bottom: auto;
        line-height: 100%;
        vertical-align: top;

    }
    .bar-white-home{
        margin-left: 0.1rem;
        margin-top: 0.32rem;

    }
    .bar-white-card{
        margin-left: 0.2rem;
        margin-top: 0.32rem;
    }

    .text-inline{
        display: inline-block;
        vertical-align: middle;
    }

    .color-white-img{
        width: 0.5rem;
        height: 0.5rem;
    }
    .color-white-img-home{
        margin-left: 1rem;
    }
    .color-white-img-card{
        margin-left: 3.8rem;
    }

    input[type=text]{
        height: 0.7rem;
    }
    .claim_input{
        border: none;
        width: 100%;
        background: none;
        text-align: right;
        padding-right: 0.95rem;
    }
    input[readonly]{
        background-color: transparent;
    }
    input[disabled], input[readonly]:not(.cloned-text-input), select[disabled], select[readonly], textarea[disabled], textarea[readonly]:not(.cloned-text-input) {
        background-color: transparent;
    }

    .icon-user{
        float:right;
        z-index:1009;
        margin-top: 8px;
        margin-left: 2rem;
        width: 0.5rem;
        height: 0.5rem;
        background-image: url(../../../vendor/images/zsx/right_btn.png); /*引入图片图片*/
        background-repeat: no-repeat; /*设置图片不重复*/
        background-position: 10px 10px; /*图片显示的位置*/

    }


    .modal-dialog {
        margin-top: 4rem;
        border: none;
    }

    .modal {
        background-color: transparent;
        border: none;
    }
    .modal-header{
        background-color: #333333;
        color:white;
        border: none;
    }
    .modal-title{
        color:white;
    }
    .btn-primary{
        background-color: #89c997;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-color:#89c997 ;
    }
    .btn-warning{
        background-color: #89c997;
        padding: 0.3rem 1.5rem;
        border-color:#89c997;
    }
    .modal-footer{
        text-align: center;
        background-color: #abadab;
        border: none;

    }
    .modal-content{
        border: none;
        background-color: transparent;
        text-align: center;
        webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
        box-shadow: 0 0 0 rgba(0,0,0,0);

    }
    .div_list{
        width: 100%;
    }
    .div_list_con{
        width: 8rem;
        margin: 0 auto;
        background-color: #fcf3a5;
    }
    .div_content{
        width: 4.8rem;
        margin-left: 0.4rem;
        float: left;
    }
    .div_content_a{
        width: 8rem;
        padding-bottom: 0.5rem;
    }
    .div_list_a{
        background-color: #e3e3e0;
        width: 4.8rem;
        height: 0.8rem;
        text-align: center;
        line-height: 0.8rem;
        margin-top: 0.3rem;
        color:#333;
        font-size: 1.2em;
    }
    .div_list_c{
        background-color: #7ff7fb;
        width: 8rem;
        height: 0.8rem;
        text-align: center;
        line-height: 0.8rem;
        margin-top: 0.3rem;
        color:#333;
        font-size: 1.2em;
    }
    .div_list_b{
        background-color: #fcf3a5;
        width: 4.8rem;
        height: 4.8rem;
        color:#333;
        font-size: 1.2em;
        padding-left: 0.5rem;
        padding-top: 0.5rem;
    }

    .div_list_d{
        background-color: #fcf3a5;
        width: 8rem;
        height: 8rem;
        color:#333;
        font-size: 1.2em;
        padding-top: 0.5rem;
    }
    .del_red{
    position: absolute;
        width: 0.8rem;
        height: 0.8rem;
        right: 0.85rem;
        top: -0.4rem;
    }

</style>
<div>
    <!--<div class="bar bar-header bar-light bar-light-div">
         <div><img  ng-click="goBackPage()" src="../../../vendor/images/zsx/back_blue.png"/></div>
        <h1 class="title"><span class="title-color">业务导航</span></h1>
    </div>
-->

    <div class="bar bar-header bar-light">

        <ion-header-bar align-title="left" class="bar-positive"  style="background-color: transparent;border-bottom: 1px solid blue">
            <div class="buttons" style="background-color: transparent">
                <button class="button" ng-click="goBackPage()" style="border: none;background-color: transparent;"><img src="../../../vendor/images/zsx/back_blue.png"></button>
            </div>
            <h1 class="title"></h1>
            <div class="buttons">
                <button class="button" ui-sref="home">首页</button>
            </div>
        </ion-header-bar>
        <h1 class="title">业务导航</h1>

    </div>



    <div class="bar_second_pink">
        <a ui-sref="czInfo">
            <img class="color-white color-white-img color-white-img-home" src="../../../vendor/images/zsx/car_person.png">
            <div class="color-white bar-white-home" style="font-size: 1.6em;">{{carInfo.cz}}</div></a> <a ui-sref="carInfo">
        <img  class="color-white color-white-img color-white-img-card" src="../../../vendor/images/zsx/car_yellow.png">
        <div class="color-white bar-white-card" style="font-size: 1.6em;">{{carInfo.cardName}}</div></a>
    </div>



    <div class="div_list">
        <div class="div_content" ng-repeat="item in dzDataList">
            <div class="div_list_a">
                进厂日期：{{item.days | limitTo:10}}
            </div>
            <div class="div_list_b">
                {{item.fault_info}}
            </div>
        </div>
    </div>



</div>


<script type="text/ng-template" id="modalOne.html">

    <div class="div_list_con">
        <div class="div_content_a">
            <div class="div_list_c">
                进厂日期：{{curTime | limitTo:10}}
                <img  ng-click="cancel()" class="del_red" src="../../../vendor/images/zsx/del_red.png">
            </div>
            <div class="div_list_d">

                <textarea ng-model="gzms"  cols="25"  rows="21"  style="font-size:1.4em;margin:0 auto;overflow: hidden;padding: 0.2rem 0.2rem;"></textarea>

            </div>

            <button class="btn btn-warning" ng-click="ok()" style="margin-top: 0.3rem;">
                确定
            </button>

        </div>



     </div>



</script>


