
<style>

    .bar-light-div {
        background-size: 0px;
        border-bottom: 1px solid #1296db;
        display: block;
    }

    .title-color {
        color: #3ca2dd;
    }

    .bar_second_pink {
        width: 100%;
        margin-top: 44px;
        height: 1rem;
        background-color: #aa89bd;
        vertical-align: middle;
        line-height: 1rem;
    }

    .container-fluid {
        padding: 0 0;
        margin: 0 0;
    }

    .color-white {
        color: white;
        display: inline-block;
        margin-top: 0.3rem;
        margin-bottom: auto;
        line-height: 100%;
        vertical-align: top;

    }

    .bar-white-home {
        margin-left: 0.1rem;
        margin-top: 0.32rem;

    }

    .bar-white-card {
        margin-left: 0.2rem;
        margin-top: 0.32rem;
    }

    .border-color {
        width: 9rem;
        height: 1rem;
        background-color: #eeeeee;
        text-align: left;
        margin: 0 auto;
        border-left: 2px solid #b5d2e5;
        border-right: 2px solid #b5d2e5;
        border-bottom: 1px solid #99a5ac;

    }

    .border-center {
        margin-top: 0.5rem;
        width: 100%;
        text-align: center;

    }

    .text-inline {
        display: inline-block;
    }

    .border-first {
        border-top: 2px solid #b5d2e5;
    }

    .border-last {
        border-bottom: 2px solid #b5d2e5;
    }

    .text-left {
        width: 3.5rem;
        height: 100%;
        border-right: 4px solid #9aa6ab;
        vertical-align: top;
        padding-top: 0.25rem;
        margin: 0 auto;
        text-align: right;
        padding-right: 0.25rem;
    }

    .text-right {
        height: 100%;
        vertical-align: top;
        padding-top: 0.15rem;

    }

    .edit-img {
        width: 0.5rem;
        height: 0.5rem;
        margin-left: 4.5rem;
    }

    .select-img {
        width: 1.0rem;
        height: 1.0rem;
    }

    .select-item {
        width: 33%;
        float: left;
        margin-top: 0.3rem;
    }

    .select_pro {
        text-align: center;
        margin-top: 0.3rem;
        background-color: #f8fbf8;
        overflow: hidden;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        color: #1296db;
        font-weight: 700;
    }

    .select-text {
        padding-top: 0.15rem;
    }

    .color-white-img {
        width: 0.5rem;
        height: 0.5rem;
    }

    .color-white-img-home {
        margin-left: 1rem;
    }

    .color-white-img-card {
        margin-left: 4.5rem;
    }

    .home_tab_div_left_color {
        background-color: #ff9db4;
        color: #ffffff;
    }

    .home_tab_div_right_color {
        background-color: #a4a3a3;
        color: #333333;
    }

    .home_tab_div_left {
        padding: 0 0;
        width: 49%;
        height: 100%;
        line-height: 1rem;

        text-align: center;
        vertical-align: middle;

        border: none;
    }

    .home_tab_div {
        padding: 0 0;
        width: 100%;
        height: 1rem;
        margin-top: 0.55rem;
        text-align: center;

    }

    .text_inline {
        display: inline-block;
    }

    .home_tab_div_left {
        padding: 0 0;
        width: 25%;
        height: 100%;
        line-height: 1rem;

        text-align: center;
        vertical-align: middle;

        border: none;
    }

    .home_tab_div_right {

        margin-left: -3px;
        width: 25%;
        height: 100%;
        line-height: 1rem;
        vertical-align: middle;

        text-align: center;

        border: none;
    }

    .form-control-a {
        width: 95%;
        background: url("../../../vendor/images/zsx/back_bottom_red.png");
        text-indent: 6px;
    }

    .bts-magin {

        width: 80%;
        margin: 20px auto 0px auto;
    }

    .btn-search {
        background-color: #ff9db4;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 3px;
        border-radius: 3px;
    }
    .food_car_img{
        width: 1.8rem;
        height: 1.8rem;

    }
    .confirm-nav-btn{
        background-color: #89c997;
        padding: 10px 20px;
        color:white;
        border-radius: 5px;
    }
    .confirm-a{
        vertical-align: middle;
    }
    .confirm-div{
        width: 100%;
        text-align: center;
        margin-top: 1rem;
    }
    .choose_back{
        background-color: lightgray;
    }
</style>
<div>
    <!--<div class="bar bar-header bar-light bar-light-div">
        <div class="action-back" ng-click="goBackHistory()"><img src="../../../vendor/images/zsx/back_blue.png"></div>
        <h1 class="title"><span class="title-color">项目选择</span></h1>
    </div>
-->

    <div class="bar bar-header bar-light">

        <ion-header-bar align-title="left" class="bar-positive"  style="background-color: transparent;border-bottom: 1px solid blue">
            <div class="buttons" style="background-color: transparent">
                <button class="button" ng-click="goBackHistory()" style="border: none;background-color: transparent;"><img src="../../../vendor/images/zsx/back_blue.png"></button>
            </div>
            <h1 class="title"></h1>
            <div class="buttons">
                <button class="button" ui-sref="home">首页</button>
            </div>
        </ion-header-bar>
        <h1 class="title">项目选择</h1>
    </div>



    <div class="bar_second_pink">
        <a ui-sref="czInfo">
            <img class="color-white color-white-img color-white-img-home" src="../../../vendor/images/zsx/car_person.png">
            <div class="color-white bar-white-home" style="font-size: 1.0em;">{{carInfo.cz}}</div></a> <a ui-sref="carInfo">
        <img  class="color-white color-white-img color-white-img-card" src="../../../vendor/images/zsx/car_yellow.png">
        <div class="color-white bar-white-card" style="font-size: 1.0em;">{{carInfo.cardName}}</div></a>
    </div>


    <div class="home_tab_div">
        <div class="text_inline home_tab_div_left {{showSelectMore==0?'home_tab_div_left_color':'home_tab_div_right_color'}}"
             ng-click="showMoreView(0)" style="font-size: 1.0em;">快捷业务
        </div>
        <div class="text_inline home_tab_div_right  {{showSelectMore==1?'home_tab_div_left_color':'home_tab_div_right_color'}}"
             ng-click="showMoreView(1)" style="font-size: 1.0em;">常规项目
        </div>

        <div class="text_inline home_tab_div_right  {{showSelectMore==2?'home_tab_div_left_color':'home_tab_div_right_color'}}"
             ng-click="showMoreView(2)" style="font-size: 1.0em;">保养套餐
        </div>

    </div>


    <div class="col-lg-6 bts-magin">
        <div class="input-group">
            <input type="text"  style="font-size: 1.0em;" ng-model="searchName"  class="form-control-a" placeholder="姓名/卡号/手机号">
      <span class="input-group-btn">
        <button class="btn-search" type="button" ng-click="toSelectPage()"><img src="../../../vendor/images/zsx/search_white.png"></button>
      </span>
        </div>
        <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->


    <div class="select_pro" ng-show="showMore==0">
        <div class="select-item select_one" ng-repeat="item in firstIconArr" ng-click="showDetailImgPro(item.wxgz)">
            <img class="select-img"  style="font-size: 1.0em;" src="{{item.imageurl?('../../../vendor/images/zsx/'+item.imageurl):'../../../vendor/images/zsx/fold_img.png'}}"/>

            <div class="select-text"  style="font-size: 1.0em;">{{item.wxgz}}</div>

        </div>

    </div>

    <div class="select_pro" ng-show="showMore==2">
        <div class="select-item select_one" ng-click="showMoreChange()">
            <img class="select-img" src="../../../vendor/images/zsx/fold_back_img.png"/>

            <div class="select-text"  style="font-size: 1.2em;">返回</div>

        </div>

        <div ng-repeat="item in sencondPageData" style="margin-top: 0.3rem;" class="select-item select_one  {{item.selected?'choose_back':''}}"   ng-click="chooseProject($index,item,item.selected)">
            <img class="select-img" src="../../../vendor/images/zsx/file_img.png"/>

            <div class="select-text" style="font-size: 1.2em;">{{item.mc}}<br/><span style="font-size: 1.2em;">￥</span><span style="font-size: 1.2em;">{{item.xlf}}</span></div>

        </div>

    </div>

    <div class="confirm-div">

    <div class="text-inline confirm-a confirm-nav-btn" ui-sref="home"  style="font-size: 1.0em;">
        返回至接车

    </div>
        <img class="text-inline confirm-a food_car_img" src="../../../vendor/images/zsx/car_food.png"/>

        <div class="text-inline confirm-a confirm-nav-btn" ng-click="toGdListPage()"  style="font-size: 1.0em;">
            确认至工单

        </div>
    </div>
</div>