<link rel="stylesheet" href="../../../vendor/css/ioinc.min.css"/>
<style>

    .bar-light-div {
        background-size: 0px;
        border-bottom: 1px solid #1296db;
        display: block;
    }

    .title-color {
        color: #3ca2dd;
    }

    .bar_second_pink {
        width: 100%;
        height: 1rem;
        background-color: #aa89bd;
        vertical-align: middle;
        line-height: 1rem;
        margin-top: 2px;
    }

    .bar_second_pink_a {
        width: 100%;
        margin-top: 44px;
        height: 1rem;
        text-align: left;
        background-color: #ff9db4;
        vertical-align: middle;
        line-height: 1rem;
        padding-left: 1rem;
        color: white;
    }

    .container-fluid {
        padding: 0 0;
        margin: 0 0;
    }

    .color-white {
        color: white;
        display: inline-block;
        margin-top: 0.3rem;
        margin-bottom: auto;
        line-height: 100%;
        vertical-align: top;

    }

    .bar-white-home {
        margin-left: 0.1rem;
        margin-top: 0.32rem;

    }

    .bar-white-card {
        margin-left: 0.2rem;
        margin-top: 0.32rem;
    }

    .text-inline {
        display: inline-block;
        vertical-align: top;
    }

    .color-white-img {
        width: 0.5rem;
        height: 0.5rem;
    }

    .color-white-img-home {
        margin-left: 1rem;
    }

    .color-white-img-card {
        margin-left: 4.5rem;
    }

    .text_inline {
        display: inline-block;
        vertical-align: middle;
    }

    .confirm-nav-btn {
        width: 3.5rem;
        background-color: #89c997;
        color: white;
        border-radius: 5px;
        margin-left: 0.2rem;
        margin-top: 0.5rem;
    }

    .confirm-a {
        vertical-align: middle;
    }

    .confirm-div {
        width: 100%;
        text-align: center;
        margin-top: 1rem;
        position: fixed;
        padding-bottom: 0.5rem;
        bottom: 0;
        left: 0;
        display: block;
        background-color: #ffffff;
        z-index: 1009;
    }

    .content-list-div {
        width: 100%;
    }

    .content-list-div-a {
        float: left;
        text-align: center;
    }

    .tb_content_b > td {
        text-align: center;
        padding-top: 0.6rem;
    }

    .tb_content_c > td {
        text-align: center;
        padding-top: 0.6rem;
    }

    .tb_content_a > td {
        text-align: center;
        padding-top: 0.2rem;
    }

    .tb_content_td_a {
        padding-left: 0.2rem;
    }

    .position-left > div {
        line-height: 0.7rem;
        height: 0.7rem;
        color: #333333;
    }

    .position-left-b > div {
        line-height: 0.7rem;
        height: 0.7rem;
        color: #333333;

    }

    .position-left {
        text-align: left;

    }

    .position-left-b {
        text-align: left;
        margin-left: 0.5rem;

    }

    .content-list-div-a-res {
        margin-top: 0.2rem;
    }

    .select-all {
        width: 1rem;
        height: 1rem;
    }

    .content-list-div-a {
        text-align: left;
        background-color: #fde9e9;
        padding: 1rem 1rem 1rem 1.5rem;

        color: #333333;
        font-weight: 600;
    }

    .content-list-div-b {
        width: 100%;
        text-align: left;
        background-color: #fde9e9;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        color: #333333;
        font-weight: 600;
        float: right;
    }

    .text-inline-c {

        margin-right: 1rem;
    }

    .item-back {
        background-color: lightblue;
    }

    .modal-dialog {
        margin-top: 4rem;
        border: none;
    }

    .modal {
        background-color: transparent;
        border: none;
    }

    .modal-header {
        background-color: #333333;
        color: white;
        border: none;
    }

    .modal-title {
        color: white;
    }

    .btn-primary {
        background-color: #89c997;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-color: #89c997;
    }

    .btn-warning {
        background-color: #89c997;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-color: #89c997;
        margin-left: 1rem;
    }

    .modal-footer {
        text-align: center;
        background-color: #abadab;
        border: none;

    }

    .modal-content {
        border: none;
    }

    .model-margin-top {
        margin: 0.3rem 0.01rem;
    }

    .action-back {

        width: 1rem;
        height: 0.5rem;
        background-image: url("../../../vendor/images/zsx/back_blue.png");
        background-repeat: no-repeat;
    }

    .img-gray {
        background-image: url("../../../vendor/images/zsx/back_gray.png");
    }

    .list-margin {
        padding-bottom: 1rem;
    }

    .content-list-div-a {
        display: inline-block;
    }

    .wb_btn_img {
        width: 0.5rem;
        height: 0.5rem;
    }
</style>

<div>
    <div class="bar bar-header bar-light">

        <ion-header-bar align-title="left" class="bar-positive"
                        style="background-color: transparent;border-bottom: 1px solid blue">
            <div class="buttons" style="background-color: transparent">
                <button class="button" ng-click="goBackPage()" style="border: none;background-color: transparent;"><img
                        src="../../../vendor/images/zsx/back_blue.png"></button>
            </div>
            <h1 class="title"></h1>

            <div class="buttons">
                <button class="button" ui-sref="home">首页</button>
            </div>
        </ion-header-bar>
        <h1 class="title">派工</h1>
    </div>


    <div class="bar_second_pink_a">
        <div style="font-size: 1.2em">工单单号：{{jsd_id}}</div>
    </div>


    <div class="bar_second_pink">
        <a ui-sref="czInfo">
            <img class="color-white color-white-img color-white-img-home"
                 src="../../../vendor/images/zsx/car_person.png">

            <div class="color-white bar-white-home" style="font-size: 1.6em;">{{carInfo.cz}}</div>
        </a> <a ui-sref="carInfo">
        <img class="color-white color-white-img color-white-img-card" src="../../../vendor/images/zsx/car_yellow.png">

        <div class="color-white bar-white-card" style="font-size: 1.6em;">{{carInfo.cardName}}</div>
    </a>
    </div>


    <!-- 项目-->


    <div class="list list-margin">

        <div class="content-list-div-b" ng-repeat="item in pgDataList">


            <ion-checkbox class="content-list-div-a" style="border-width: 0px;"
                          ng-model="item.checked"
                          ng-checked="item.checked" ng-click="checkPjkItem($index)">
            </ion-checkbox>
            <div class="text_inline content-list-div-c">

                <div class="text-inline position-left">
                    <div style="font-size: 1.2em">项目名称：</div>
                    <div style="font-size: 1.2em">指派给：</div>
                    <div style="font-size: 1.2em">维修人员：</div>
                    <div style="font-size: 1.2em">派工金额：</div>
                    <div style="font-size: 1.2em">派工状态：</div>
                </div>
                <div class="text-inline position-left-b">
                    <div style="font-size: 1.2em">{{item.xlxm}}</div>
                    <div style="font-size: 1.2em">{{item.assign}}</div>
                    <div style="font-size: 1.2em">{{item.xlg}}</div>
                    <div style="font-size: 1.2em"><span
                            class="text_inline" ng-show="!item.showPgje">{{item.pgje}}</span>

                        <div class="text_inline" ng-show="item.showPgje">
                            <input placeholder="输入" ng-model="item.pgje"
                                   style="width: 3rem;height: 0.6rem;border:none;background-color: #eeeeee;"/></div>
                        <div class="text_inline"><img ng-click="showPgje($index,item,item.showPgje)"
                                                      class="text_inline wb_btn_img"
                                                      src="{{item.showPgje?'../../../vendor/images/zsx/edit_true.png':'../../../vendor/images/zsx/edit.png'}}"/>

                        </div>


                        <div style="font-size: 1.2em">{{item.states}}</div>
                    </div>
                </div>


            </div>


            <!--<div class="text_inline content-list-div-a content-list-div-a-res" ng-repeat="item in pgDataList"
                 ng-click="pgPerson(item)">
                <div class="text-inline"><img class="select-all" src="../../../vendor/images/zsx/select-blue-true.png"/>
                </div>
                <div class="text-inline position-left">
                    <div>轿车洗车</div>
                    <div>指派给</div>
                    <div>维修人员</div>
                    <div>派工金额</div>
                </div>
                <div class="text-inline position-left-b">
                    <div>{{item.xlxm}}</div>
                    <div>{{item.assign}}</div>
                    <div>{{item.xlg}}</div>
                    <div><span>￥</span>{{item.pgje}}</div>
                </div>
                <div class="text-inline text-inline-c"><img class="select-all" src="../../../vendor/images/zsx/right_btn.png"/>
                </div>

            </div>-->


        </div>


        <div class="confirm-div">

            <div class="text-inline confirm-a confirm-nav-btn" style="padding: 0.3rem 0.2rem" ng-click="pgPerson()">
                派工
            </div>

            <div class="text-inline confirm-a confirm-nav-btn" style="padding: 0.3rem 0.2rem" ui-sref="FactoryPage">
                车间管理
            </div>

        </div>
    </div>
</div>


<script type="text/ng-template" id="modal7.html">
    <div class="modal-top" align="center">
        <div class="modal-header">
            <h4 class="modal-title" align="center">
                派工
            </h4>
        </div>
        <div class="modal-body">
            <div style="display: inline-block;vertical-align: top;">
                <ul class="list">

                    <li ng-repeat="item in repairPersonList | unique: 'xlz'"
                        class="item {{$index==clickIndex?'item-back':''}}" ng-click="chooseXlz(item,$index)">
                        {{item.xlz}}
                    </li>
                </ul>
            </div>
            <div style="display:inline-block;text-align: left;vertical-align: top;width:5rem;">
                <ion-checkbox ng-repeat="item2 in personArr"
                              ng-model="item2.checked"
                              ng-checked="item2.checked">
                    {{ item2.xlg }}
                </ion-checkbox>

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="cancel()">
                取消
            </button>
            <button class="btn btn-warning" ng-click="ok(xlxm,wxgz,xlf)" style="margin-left: 2rem">
                确定
            </button>
        </div>
    </div>
</script>