
<style>
    * {
        margin: 0;
        padding: 0;
        border: 0;
    }


    .container-fluid {
        padding: 0 0;
        margin: 0 0;
    }

    .bar-light-div {
        background-size: 0px;
        border-bottom: 1px solid #1296db;
    }

    a:link, a:visited, a:hover {
        color: #1296db;
        text-decoration: none;
    }

    .bar-light-div {
        font-size: 1.0em;
    }

    input[type=text] {
        font-size: 1.3em;
    }

    input[type=number] {
        font-size: 1.3em;
    }

    button {
        font-size: 1.0em;
    }

    .title-color {
        font-size: 1.0em;
    }

    .text_inline {
        display: inline-block;
        font-size: 0.8em;
        vertical-align: top;
    }

    .text_inline_cen {
        display: inline-block;
        font-size: 1.0em;
        vertical-align: middle;
    }

    .input-group {
        height: 1rem;
        font-size: 1.0em;
    }

    .tabs {
        height: 1.4rem;
        font-size: 1.3em;
    }

    .title-color {
        color: #3ca2dd;
    }

    .container-fluid {
        padding: 0 0;
        margin: 0 0;
    }

    .item-input-a {
        width: 90%;
    }

    .bts-magin {

        width: 80%;
        margin: 44px auto 0px auto;
    }

    .bar-light-div {
        background-size: 0px;
        border-bottom: 1px solid #1296db;
    }

    .form-control-a {
        width: 95%;
        background: url("../../../vendor/images/zsx/back_bottom_red.png");
        text-indent: 6px;
    }

    .input-label-a {
        width: 30%;
        font-size: 1.5em;
    }

    .input-left-div {
        padding-left: 1.5rem;
    }

    .home_tab_div {
        padding: 0 0;
        width: 100%;
        height: 1rem;
        margin-top: 2px;

    }

    .home_tab_div_right {
        padding: 0 0;
        width: 25%;
        height: 100%;
        line-height: 1rem;
        text-align: center;
        vertical-align: middle;
        border-right: 1px solid #ff9db4;

    }

    .home_tab_div_right_a {
        padding: 0 0;
        width: 25%;
        height: 100%;
        line-height: 1rem;
        text-align: center;
        vertical-align: middle;
    }

    .back-line-red {
        width: 100%;
        height: 3px;
        margin-top: 20px;
        background-color: #ff9db4;
    }

    .btn-search {
        background-color: #ff9db4;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 3px;
        border-radius: 3px;
    }

    .home_tab_div_left_color {
        background-color: #ff9db4;
        color: #ffffff;
    }

    .home_tab_div_right_color {
        background-color: #a4a3a3;
        color: #333333;
    }

    .btn_a {
        padding: 0.4rem 1.5rem;
        background-color: #89c997;
        border-radius: 5px;
        color: #ffffff;
    }

    .btn_b {
        padding: 0.4rem 1.5rem;
        background-color: #89c997;
        border-radius: 5px;
        color: #ffffff;
    }

    a:link, a:visited, a:hover {
        color: #1296db;
        text-decoration: none;
    }

    .bar-light-div {
        font-size: 1.0em;
    }

    button {
        font-size: 1.0em;
    }


    .input-group {
        height: 1rem;
        font-size: 1.0em;
    }

    .tabs {
        height: 1.4rem;
        font-size: 1.3em;

    }

    .search_select_div {
        min-width: 3.2rem;
        height: 1rem;
        border: 3px solid #ff9db4;
    }

    .search_select_div_input {
        width: 5.5rem;
        height: 1rem;
        border: 3px solid #ff9db4;
    }

    .search_div {
        margin: 0.3rem auto;
        text-align: center;

    }

    .search_select_div_left {
        width: 2rem;
        height: 100%;
        text-align: center;
        padding-top: 0.25rem;
        font-size: 1.1em;
    }

    .search_select_div_right {
        width: 0.9rem;
        height: 100%;
    }

    .img_search {
        width: 0.8rem;
        height: 0.8rem;
    }

    .img_white_search {
        width: 0.7rem;
        height: 0.7rem;
        margin: 0.15rem auto 0.15rem auto;
    }

    .content-list-div {
        width: 100%;
        margin-top: 0.3rem;
    }

    .content-list-div-a {
        width: 100%;
        text-align: center;
    }

    .content-list-div-table {

        width: 100%;
        margin-top: 2px;

    }

    .content-list-div-table-a {
        width: 100%;
        background-color: #eeeeee;
        text-align: left;

    }

    .content-list-div-table-a > tbody > tr {

    }

    .img-minus {
        width: 0.5rem;
        height: 0.5rem;
    }

    .tb_content_a {
        background-color: #7ff7fb;
        height: 1rem;
    }

    .tb_content_b {

        background-color: #eeeeee;
        height: 2rem;
        vertical-align: middle;
        text-align: left;
    }

    .tb_content_c {
        padding-top: 0.45rem;
        height: 2rem;
        background-color: #fdfcfd;
        vertical-align: middle;
    }

    .tb_content_b > td {
        text-align: left;
        padding-top: 0.6rem;
    }

    .tb_content_c > td {
        text-align: center;
        padding-top: 0.6rem;
    }

    .tb_content_a > td {
        padding-top: 0.3rem;
    }

    .tb_content_td_a {
        padding-left: 0.2rem;
    }

    .content-list-div-table-a > tbody > tr > td {
        padding: 0.3rem 0.3rem;
        font-size: 1.0em;
    }

    .content-list-div-content {
        background-color: #eeeeee;
        padding-left: 0.5rem;
    }

    .search_select_div {
        position: relative;
    }

    .select_div_text {
        position: fixed;
        z-index: 1001;
        font-size: 1.0em;
        top: 1rem;
        left:1rem;
        background-color: white;
        padding: 0.1rem 1.2rem 0.3rem 0.3rem;
    }

    .select_div_text_item {
        padding-top: 0.4rem;
        padding-bottom: 0.1rem;
    }
    .ion_list_bot{
        padding-bottom: 2rem;
        margin-top: 0.2rem;
    }
    .list{
        padding-bottom: 100px;
    }
    .item{
        padding: 0 0;
        margin-top: 0.2rem;
    }
    .work_select{
        width: 0.6rem;
        height: 0.6rem;
    }
    .text_inline_cen_a{
        padding: 0.2rem 0.2rem 0 0.2rem;
        font-size: 1.0em;
        color:dodgerblue;
    }



</style>

<div class="bar bar-header bar-light bar-light-div">
    <!--  <button class="button-clear"><img src="../../../vendor/images/zsx/back_blue.png"></button>-->
    <h1 class="title"><span class="title-color">车间管理</span></h1>
</div>

<ion-content>

    <div style="margin-top: 46px;">

        <div class="home_tab_div {{showMore==0?'home_tab_div_right_color':'home_tab_div_left_color'}}">

            <table style="width: 100%">
                <tr style="width: 100%">
                   <td class="text_inline home_tab_div_right {{showMore==0?'home_tab_div_left_color':'home_tab_div_right_color'}}" ng-click="showMoreView(0,'待领工')">待领工</td>
                    <td class="text_inline home_tab_div_right  {{showMore==1?'home_tab_div_left_color':'home_tab_div_right_color'}}" ng-click="showMoreView(1,'修理中')">修理中</td>
                    <td class="text_inline home_tab_div_right  {{showMore==2?'home_tab_div_left_color':'home_tab_div_right_color'}}" ng-click="showMoreView(2,'待质检')">待质检</td>
                    <td class="text_inline home_tab_div_right_a  {{showMore==3?'home_tab_div_left_color':'home_tab_div_right_color'}}" ng-click="showMoreView(3,'已完工')">已完工</td>

                </tr>

            </table>
            <!--<div class="text_inline home_tab_div_right {{showMore==0?'home_tab_div_left_color':'home_tab_div_right_color'}}"
                 ng-click="showMoreView(0,'待领工')">待领工
            </div>
            <div class="text_inline home_tab_div_right  {{showMore==1?'home_tab_div_left_color':'home_tab_div_right_color'}}"
                 ng-click="showMoreView(1,'修理中')">修理中
            </div>

            <div class="text_inline home_tab_div_right  {{showMore==2?'home_tab_div_left_color':'home_tab_div_right_color'}}"
                 ng-click="showMoreView(2,'待质检')">待质检
            </div>

            <div class="text_inline home_tab_div_right_a  {{showMore==3?'home_tab_div_left_color':'home_tab_div_right_color'}}"
                 ng-click="showMoreView(3,'已完工')">已完工
            </div>-->
        </div>
        <div class="search_div">
            <div class="text_inline search_select_div">

                <div class="text_inline search_select_div_left" ng-click="showSelectDiv(isShowSelect)">
                    {{wxgz?wxgz:'选择工种'}}
                </div>
                <div class="text_inline  search_select_div_right" ng-click="showSelectDiv(isShowSelect)"><img
                        class="img_search"
                        src="../../../vendor/images/zsx/sanjx.png"></div>
                <div class="select_div_text" ng-show="isShowSelect">
                    <div class="select_div_text_item" ng-repeat="item in firstIconArr" ng-click="selectItem(item)">
                        {{item.wxgz}}
                    </div>
                </div>

            </div>
            <div class="text_inline search_select_div_input">
                <input class="text_inline" type="text" value="" ng-model="content" placeholder="输入"
                       style="margin: 0 0;padding: 0rem 0.1rem;height: 100%;width:5.4rem;"/>

            </div>
            <div class="text_inline" ng-click="searchData(content)"
                 style="width: 1.0rem;height:1rem;background-color: #ff9db4;padding: 0 0;margin: 0 0 0 -0.1rem;text-align: center;line-height: 1rem;">
                <img class="img_white_search" src="../../../vendor/images/zsx/white_search.png"></div>


        </div>
        <div style="width: 100%;text-align: center;">
              <div class="text_inline_cen text_inline_cen_a" ng-click="sortByJcTime(showUp)"><img class="work_select text_inline_cen" src="{{showUp?'../../../vendor/images/zsx/sjx_down.png':'../../../vendor/images/zsx/sjx_up.png'}}"/><div class="text_inline_cen" style="margin-left: 0.2rem;">进厂时间</div></div>
              <div class="text_inline_cen text_inline_cen_a" ng-click="sortByYwgTime(showYwgUp)"><img class="work_select text_inline_cen" src="{{showYwgUp?'../../../vendor/images/zsx/sjx_down.png':'../../../vendor/images/zsx/sjx_up.png'}}"/><div class="text_inline_cen" style="margin-left: 0.2rem;">交车时间</div></div>
              <div class="text_inline_cen text_inline_cen_a" ng-click="showMySelf(isShowMyWork)"><img class="work_select text_inline_cen" src="{{isShowMyWork?'../../../vendor/images/zsx/right_now.png':'../../../vendor/images/zsx/right_now_no.png'}}"/><div class="text_inline_cen" style="margin-left: 0.2rem;">我的任务</div></div>
        </div>
    </div>


    <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->

    <ion-list class="ion_list_bot">

        <ion-item ng-repeat="item in factoryDataArr"
                  item="item"
                  ng-click="toLinggongPage(item)" class="item-remove-animate">

            <div class="text_inline content-list-div-a">
                <table class="content-list-div-table">

                    <tr class="tb_content_a">
                        <td style="font-size: 1.0em;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{$index+1}}</td>
                        <td style="font-size: 1.0em;">车牌：{{item.cp}}</td>
                        <td style="font-size: 1.0em;">结算单：{{item.jsd_id}}</td>
                    </tr>
                </table>
                <div class="content-list-div-content">
                    <table class="content-list-div-table-a">
                        <tr>
                            <td colspan="2">车架号码：{{item.cjhm}}</td>

                        </tr>
                        <tr>
                            <td>项目状态：{{item.states}}</td>
                            <td>车型：{{item.cx}}</td>
                        </tr>

                        <tr>
                            <td>维修工种：{{item.wxgz}}</td>
                            <td>领工人员：{{item.assign}}</td>
                        </tr>

                        <tr>
                            <td>指派人员：{{item.assign}}</td>
                            <td>进厂日期：{{item.jc_date|limitTo:10}}</td>
                        </tr>

                    </table>
                </div>

            </div>
        </ion-item>

    </ion-list>

</ion-content>


<div id="tab_nav" class="tabs-line  bar  bar-footer" style="border-top: 1px solid #1296db;height: 1.9rem;padding-bottom: 0.1rem;">

<a class="tab-item"  style="display:inline-block;width: 19%;"  ui-sref="home">
            <img style="width: 0.7rem;height: 0.7rem;margin-top: 0.03rem;"
                 src="../../../vendor/images/zsx/recever_hand_gray.png"/>
            <div style="color: #515151;height: 0.6rem;font-size: 1.0em;margin-top: 1px;">车辆接待</div>
    </a>
    <a class="tab-item" style="display:inline-block;width: 19%;">
        <img style="width: 0.7rem;height: 0.7rem;margin-top: 0.03rem;"
             src="../../../vendor/images/zsx/factory_blue.png"/>

        <div style="color: #1296db;height: 0.6rem;font-size: 1.0em;margin-top: 1px;">车间管理</div>

    </a>
    <a class="tab-item"  style="display:inline-block;width: 19%;" ui-sref="CompanyTop">
        <img style="width: 0.7rem;height: 0.7rem;margin-top: 0.03rem;"
             src="../../../vendor/images/zsx/condition_gray.png"/>

        <div style="color: #515151;height: 0.6rem;font-size: 1.0em;margin-top: 1px;">整厂概况</div>

    </a>
    <a class="tab-item"   style="display:inline-block;width: 19%;" ui-sref="Usercenter">
        <img style="width: 0.7rem;height: 0.7rem;margin-top: 0.03rem;"
             src="../../../vendor/images/zsx/msg_gray.png"/>

        <div style="color: #515151;height: 0.6rem;font-size: 1.0em;margin-top: 1px;">信息中心</div>

    </a>

    <a class="tab-item"  style="display:inline-block;width: 19%;"  ui-sref="workmore">
        <img style="width: 0.7rem;height: 0.7rem;margin-top: 0.03rem;"
             src="../../../vendor/images/zsx/setting_gray.png"/>

        <div style="color: #515151;height: 0.6rem;font-size: 1.0em;margin-top: 1px;">设置</div>

    </a>
</div>






