
<style>
    * {
        margin: 0;
        padding: 0;
        border: 0;
    }

    .title-color {
        color: #3ca2dd;
    }

    .container-fluid {
        padding: 0 0;
        margin: 0 0;
    }

    .bar-light-div {
        background-size: 0px;
        border-bottom: 1px solid #1296db;
    }

    a:link, a:visited, a:hover {
        color: #1296db;
        text-decoration: none;
    }

    .bar-light-div {
        font-size: 1.2em;
    }

    input[type=text] {
        font-size: 1.3em;
    }

    input[type=number] {
        font-size: 1.3em;
    }

    button {
        font-size: 1.4em;
    }

    .title-color {
        font-size: 1.4em;
    }

    .text_inline {
        display: inline-block;
        font-size: 1.2em;
        vertical-align: top;
    }

    .input-group {
        height: 1rem;
        font-size: 1.4em;
    }

    .tabs {
        height: 1.4rem;
        font-size: 1.3em;
    }

    .title-color {
        color: #3ca2dd;
    }

    .container-fluid {
        padding: 0 0;
        margin: 0 0;
    }

    .item-input-a {
        width: 90%;
    }

    .bts-magin {

        width: 80%;
        margin: 44px auto 0px auto;
    }

    .bar-light-div {
        background-size: 0px;
        border-bottom: 1px solid #1296db;
    }

    .form-control-a {
        width: 95%;
        background: url("../../../vendor/images/zsx/back_bottom_red.png");
        text-indent: 6px;
    }

    .input-label-a {
        width: 30%;
        font-size: 1.5em;
    }

    .input-left-div {
        padding-left: 1.5rem;
    }

    .home_tab_div {
        padding: 0 0;
        width: 100%;
        height: 1rem;
        margin-top: 44px;

    }

    .home_tab_div_right {
        padding: 0 0;
        width: 24.5%;
        height: 100%;
        line-height: 1rem;
        text-align: center;
        vertical-align: middle;
        border-right: 1px solid #ff9db4;

    }

    .home_tab_div_right_a {
        padding: 0 0;
        width: 24.5%;
        height: 100%;
        line-height: 1rem;
        text-align: center;
        vertical-align: middle;
    }

    .back-line-red {
        width: 100%;
        height: 3px;
        margin-top: 20px;
        background-color: #ff9db4;
    }

    .btn-search {
        background-color: #ff9db4;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 3px;
        border-radius: 3px;
    }

    .home_tab_div_left_color {
        background-color: #ff9db4;
        color: #ffffff;
    }

    .home_tab_div_right_color {
        background-color: #a4a3a3;
        color: #333333;
    }

    .btn_a {
        padding: 0.4rem 1.5rem;
        background-color: #89c997;
        border-radius: 5px;
        color: #ffffff;
    }

    .btn_b {
        padding: 0.4rem 1.5rem;
        background-color: #89c997;
        border-radius: 5px;
        color: #ffffff;
    }

    a:link, a:visited, a:hover {
        color: #1296db;
        text-decoration: none;
    }

    .bar-light-div {
        font-size: 1.2em;
    }

    button {
        font-size: 1.4em;
    }

    .title-color {
        font-size: 1.4em;
    }

    .input-group {
        height: 1rem;
        font-size: 1.4em;
    }

    .tabs {
        height: 1.4rem;
        font-size: 1.3em;
    }

    .search_select_div {
        width: 3.2rem;
        height: 1rem;
        border: 3px solid #ff9db4;
    }

    .search_select_div_input {
        width: 5.5rem;
        height: 1rem;
        border: 3px solid #ff9db4;
    }

    .search_div {
        margin-top: 0.3rem;
        margin-left: 0.5rem;
    }

    .search_select_div_left {
        width: 2rem;
        height: 100%;
        text-align: center;
        padding-top: 0.25rem;
        font-size: 1.4em;
    }

    .search_select_div_right {
        width: 0.9rem;
        height: 100%;
    }

    .img_search {
        width: 0.8rem;
        height: 0.8rem;
    }

    .img_white_search {
        width: 0.7rem;
        height: 0.7rem;
        margin: 0.15rem auto 0.15rem auto;
    }

    .content-list-div {
        width: 100%;
        margin-top: 0.3rem;
    }

    .content-list-div-a {
        width: 100%;
        text-align: center;
    }

    .content-list-div-table {

        width: 100%;
        margin-top: 2px;

    }

    .content-list-div-table-a {
        width: 100%;
        background-color: #eeeeee;
        text-align: left;

    }

    .content-list-div-table-a > tbody > tr {

    }

    .img-minus {
        width: 0.5rem;
        height: 0.5rem;
    }

    .tb_content_a {
        background-color: #7ff7fb;
        height: 1rem;
    }

    .tb_content_b {

        background-color: #eeeeee;
        height: 2rem;
        vertical-align: middle;
        text-align: left;
    }

    .tb_content_c {
        padding-top: 0.45rem;
        height: 2rem;
        background-color: #fdfcfd;
        vertical-align: middle;
    }

    .tb_content_b > td {
        text-align: left;
        padding-top: 0.6rem;
    }

    .tb_content_c > td {
        text-align: center;
        padding-top: 0.6rem;
    }

    .tb_content_a > td {
        padding-top: 0.3rem;
    }

    .tb_content_td_a {
        padding-left: 0.2rem;
    }

    .content-list-div-table-a > tbody > tr > td {
        padding: 0.3rem 0.3rem;
        font-size: 1.4em;
    }

    .content-list-div-content {
        background-color: #eeeeee;
        padding-left: 0.5rem;

        margin-top: 0.8rem;
    }

</style>

<div>
    <div class="bar bar-header bar-light">

        <ion-header-bar align-title="left" class="bar-positive"
                        style="background-color: transparent;border-bottom: 1px solid blue">
            <div class="buttons" style="background-color: transparent">
                <button class="button" ng-click="goBackPage()" style="border: none;background-color: transparent;"><img
                        src="../../../vendor/images/zsx/back_blue.png"></button>
            </div>
            <h1 class="title"></h1>
            <div class="buttons">
                <button class="button" ui-sref="home">首页</button>
            </div>

        </ion-header-bar>
        <h1 class="title">领工</h1>
    </div>

        <div class="content-list-div-content" ng-repeat="item in dataArr">
            <table class="content-list-div-table-a">
                <tr>
                    <td colspan="2">车架号码：{{item.cjhm}}</td>

                </tr>
                <tr>
                    <td>车牌：{{item.cp}}</td>
                    <td>结算单：{{item.jsd_id}}</td>
                </tr>
                <tr>
                    <td>项目状态：{{item.states}}</td>
                    <td>车型：{{item.cx}}</td>
                </tr>

                <tr>
                    <td>维修工种：{{item.wxgz}}</td>
                    <td>领工人员：{{item.assign}}</td>
                </tr>

                <tr>
                    <td>指派人员：{{item.assign}}</td>
                    <td>预完工：{{item.ywg_date}}</td>
                </tr>
                <tr>
                    <td>维修人员：{{item.xlg}}</td>
                    <td>修理项目：{{item.xlxm}}</td>
                </tr>

            </table>
        </div>

    </div>


</div>


