<!DOCTYPE html>
<html ng-app="app" ng-controller="modalController">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>ng-model模态框</title>
</head>
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<body>
<button ng-click="openModal()">打开模态框</button>

<script type="text/ng-template" id="modal.html">
    <div class="modal-top">
        <div class="modal-header">
            <h3 class="modal-title" align="center">
                标题信息
            </h3>
        </div>
        <div class="modal-body">
            <div align="center">
                模态框内容 <br>
                {{data}}
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">
                确认
            </button>
            <button class="btn btn-warning" ng-click="cancel()">
                退出
            </button>
        </div>
    </div>
</script>

<script src="https://cdn.bootcss.com/angular.js/1.5.5/angular.min.js"></script>
<script src="https://cdn.bootcss.com/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.min.js"></script>

<script type="text/javascript">
    var app = angular.module('app', ['ui.bootstrap']);
    app.controller('modalController', function($scope, $rootScope, $modal) {
        var data = "通过modal传递的数据";
        $scope.openModal = function() {
            var modalInstance = $modal.open({
                templateUrl : 'modal.html',//script标签中定义的id
                controller : 'modalCtrl',//modal对应的Controller
                resolve : {
                    data : function() {//data作为modal的controller传入的参数
                        return data;//用于传递数据
                    }
                }
            })
        }
    })
    //模态框对应的Controller
    app.controller('modalCtrl', function($scope, $modalInstance, data) {
        $scope.data= data;

        //在这里处理要进行的操作
        $scope.ok = function() {
            $modalInstance.close();
        };
        $scope.cancel = function() {
            $modalInstance.dismiss('cancel');
        }
    });
</script>

<script>



    zje=本单的总的应收金额
    Yhje=优惠金额的输入值
    pre_payment=预收款抵扣金额在输入值

    先判断会员卡有没有输入卡号和扣除金额

    hyk_kcje=会员卡扣除金额
    xj=现金的输入值
    shuaka=刷卡的输入值
    zhuangzhang=转账的输入值
    guazhang=挂账的输入值
    sxf=0
    If  hyk_kcje>0  then
    ysje=hyk_kcje
    ssje=ysje - Yhje - sxf
    json1='"ysje":"300","yhje":"'+string(Yhje)+'","sxf":"0.00","ssje":"299","skfs":"消费卡"
    vipcard_no=会员卡号输入值
    end if
        if xj>0 then
    ysje=xj
    ssje=ysje - Yhje - sxf
    if json1='' then
    json1='"ysje":"300","yhje":'+string(Yhje)+'","sxf":"0.00","ssje":"'+string(ssje)+'","skfs":"现金"
    else
    json2='"skfs1":"现金","skje1":"300","sxf1":"0.0"'
    end if
            end if

            if shuaka>0 then
    ysje=shuaka
    sxf=shuaka*当前收款银行的手续费率
    ssje=ysje - Yhje - sxf
    yinhangzhanghao=所选择的银行账号
    if json1='' then
    json1='"ysje":"300","yhje":'+string(Yhje)+'","sxf":"'+string(sxf)+'","ssje":"'+string(ssje)+'","skfs":"'+yinhangzhanghao+'"
    elseif json2='' then
    skje1=shuaka
    json2='"skfs1":"'+yinhangzhanghao+","skje1":"+string(skje1)+","sxf1":"'+string(sxf)+'"'
    else
    skje2=zhuangzhang
    json3='"skfs2":"'+yinhangzhanghao+","skje2":"+string(skje2)+","sxf2":"'+string(sxf)+'"'
    end if
            end if

            if zhuangzhang>0 then
    ysje=zhuangzhang
    sxf=0
    ssje=ysje - Yhje - sxf
    yinhangzhanghao=所选择的银行账号
    if json1='' then
    json1='"ysje":"300","yhje":'+string(Yhje)+'","sxf":"'+string(sxf)+'","ssje":"'+string(ssje)+'","skfs":"'+yinhangzhanghao+'"
    elseif json2='' then

    skje1=zhuangzhang
    json2='"skfs1":"'+yinhangzhanghao+","skje1":"+string(skje1)+","sxf1":"'+string(sxf)+'"'
    elseif 	json3='' then
    skje2=zhuangzhang
    json3='"skfs2":"'+yinhangzhanghao+","skje2":"+string(skje2)+","sxf2":"'+string(sxf)+'"'
    else
    messagebox('','一次收款不能超过三种收款方式，请检查输入。')
    return
    end if
            end if

            if guazhang>0
                ysje=guazhang
    sxf=0
    ssje=ysje - Yhje - sxf
    yinhangzhanghao='挂账'
    if json1='' then
    json1='"ysje":"300","yhje":'+string(Yhje)+'","sxf":"'+string(sxf)+'","ssje":"'+string(ssje)+'","skfs":"挂账"
    elseif json2='' then

    skje1=guazhang
    json2='"skfs1":"'+yinhangzhanghao+","skje1":"+string(skje1)+","sxf1":"'+string(sxf)+'"'
    elseif 	json3='' then
    skje2=guazhang
    json3='"skfs2":"'+yinhangzhanghao+","skje2":"+string(skje2)+","sxf2":"'+string(sxf)+'"'
    else
    messagebox('','一次收款不能超过三种收款方式，请检查输入。')
    return
    end if
            end if

            if wx>0
                ysje=wx
    sxf=*微信的手续费率
    ssje=ysje - Yhje - sxf
    yinhangzhanghao='微信'
    if json1='' then
    json1='"ysje":"300","yhje":'+string(Yhje)+'","sxf":"'+string(sxf)+'","ssje":"'+string(ssje)+'","skfs":"微信"
    elseif json2='' then

    skje1=wx
    json2='"skfs1":"'+yinhangzhanghao+","skje1":"+string(skje1)+","sxf1":"'+string(sxf)+'"'
    elseif 	json3='' then
    skje2=wx
    json3='"skfs2":"'+yinhangzhanghao+","skje2":"+string(skje2)+","sxf2":"'+string(sxf)+'"'
    else
    messagebox('','一次收款不能超过三种收款方式，请检查输入。')
    return
    end if
            end if

            if zfb>0
                ysje=zfb
    sxf=*支付宝的手续费率
    ssje=ysje - Yhje - sxf
    yinhangzhanghao='微信'
    if json1='' then
    json1='"ysje":"300","yhje":'+string(Yhje)+'","sxf":"'+string(sxf)+'","ssje":"'+string(ssje)+'","skfs":"支付宝"
    elseif json2='' then

    skje1=zfb
    json2='"skfs1":"'+yinhangzhanghao+","skje1":"+string(skje1)+","sxf1":"'+string(sxf)+'"'
    elseif 	json3='' then
    skje2=zfb
    json3='"skfs2":"'+yinhangzhanghao+","skje2":"+string(skje2)+","sxf2":"'+string(sxf)+'"'
    else
    messagebox('','一次收款不能超过三种收款方式，请检查输入。')
    return
    end if
            end if

            if (hyk_kcje+xj+shuaka+zhuangzhang+guazhang+wx+zfb)>zje then
    messagebox('','收款的总金额不能超过本工单的总应收金额，请检查输入。')
    return
    end if

            sub_json=json1+json2+json3+',"pre_payment":"200.00"'+vipcard_no+加上其它必须上传的字段拼接一起。












</script>
</body>
</html>