<!DOCTYPE html>
<html ng-app="app" ng-controller="modalController">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>ng-model模态框</title>
</head>
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<body>
<button ng-click="openModal()">打开模态框</button>

<script type="text/ng-template" id="modal.html">
    <div class="modal-top">
        <div class="modal-header">
            <h3 class="modal-title" align="center">
                标题信息
            </h3>
        </div>
        <div class="modal-body">
            <div align="center">
                模态框内容 <br>
                {{data}}
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">
                确认
            </button>
            <button class="btn btn-warning" ng-click="cancel()">
                退出
            </button>
        </div>
    </div>
</script>


<script type="text/javascript">
   for(var i=0;i<10;i++){
       var input = document.createElement('input');
       document.body.appendChild(input);
   }
    var inputs = document.getElementsByTagName('input');
    for(var j=0;j<inputs.length;j++){
        inputs[j].onclick=function(){
            alert(j);
        }
    }
</script>
</body>
</html>