<div class="bdd-nav-div">
    <div class="bdd-img-div">
        <div class="bdd-img-one"><img class="bdd-img" src="../../../vendor/images/logo.png" alt=""/></div>
    </div>
    <div class="bdd-nav-title"><a ui-sref="home">首页</a></div>
    <div class="bdd-nav-title"><a ui-sref="Tender">标讯</a></div>
    <div class="bdd-nav-title"><a style="color:white" ui-sref="Company">企信</a></div>
    <div class="bdd-nav-title"><a ui-sref="workmore">动态</a></div>
    <div class="bdd-nav-title"><a ui-sref="society">应用</a></div>
    <div class="bdd-nav-title bdd-nav-title-hide">
        <div class="search-status">
            <div class="search-filter">
                <a href="javascript:;"><span class="tit">作品</span><i class="icon-down"></i></a>
                <ul class="options">
                    <li><a href="javascript:;" data-rel="project">作品</a></li>
                    <li><a href="javascript:;" data-rel="experience">文章</a></li>
                    <li><a href="javascript:;" data-rel="source">源文件</a></li>
                    <li><a href="javascript:;" data-rel="designer">设计师</a></li>
                    <li><a href="javascript:;" data-rel="inspiration">灵感</a></li>
                    <li><a href="javascript:;" data-rel="talk">话题</a></li>
                    <li><a href="javascript:;" data-rel="activity">活动</a></li>
                    <li><a href="javascript:;" data-rel="veer">素材</a></li>
                </ul>
            </div>
            <div class="search-select">
                <input type="text" class="search-val" placeholder="请输入您要查找的内容" autocomplete="off" value=""
                       name="keywords" id="keywords">
                <ul class="options" style="display: none;">
                    <li><a href="javascript:;">app</a></li>
                    <li><a href="javascript:;">logo</a></li>
                    <li><a href="javascript:;">icon</a></li>
                    <li><a href="javascript:;">AE</a></li>
                    <li><a href="javascript:;">作品集</a></li>
                </ul>
            </div>
        </div>
        <input type="hidden" name="type" value="project" id="sType"></div>
    <div class="bdd-nav-title bdd-nav-search"><a href="#"><img src="../../../vendor/images/nav_icon_search.png"
                                                               alt=""></a></div>
    <div class="bdd-nav-title bdd-nav-right">APP下载</div>
    <div class="bdd-nav-title bdd-nav-right">
        <div ng-if="$ctrl.user == null">
            <a href="index.html#/login">登录</a>
            <a href="index.html#/register">注册</a>
        </div>
        <div ng-if="$ctrl.user != null && $ctrl.user.username != ''">
            <label>{{$ctrl.user.username}}</label>
            <span class="bdd_font_span" ng-click="$ctrl.logout()">退出</span>
            <a href="">个人中心</a>
        </div>
    </div>
</div>